rtl/sim
rtl/work
rtl/*.vcd
rtl/*.wlf
rtl/transcript
sim/sim
sim/build
sim/work
sim/*.vcd
sim/*.wlf
sim/transcript
sim/verilated*
sim/*.dll
sim/*.obj
sim/__pycache__/
sim/dpiheader.h
*.so
*.pickle
build/